<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Controls" version="1.0.129" targetFramework="net461" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="EMGU.CV" version="3.4.3.3016" targetFramework="net461" />
  <package id="FreeSpire.Office" version="3.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net461" />
  <package id="MySqlBackup.NET" version="2.1.0" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>